# 원어민 보고서 업무 자동화 코드

### 1. 패키지 설치

In [ ]:
pip install docx-mailmerge==0.5.0

### 2. 모듈 임포트

In [8]:
import os
import shutil
import pandas as pd
from mailmerge import MailMerge

In [9]:
folderName = "Evaluation Report 2 Weeks - Gangwon Camp"
template = "gangwon_2weeks_template.docx"
nameList = "gangwon_2weeks_namelist.csv"

### 3. 워드 템플릿 로드

In [10]:
document = MailMerge(template)
print(document.get_merge_fields())

{'ft', 'pw', 'ps', 'eName', 'Gender', 'kName', 'speaking', 'className', 'fw', 'wTeacher', 'sTeacher', 'Grade', 'fs', 'rTeacher', 'pt'}

### 4. 레벨 테스트 점수 엑셀 데이터 로드

In [11]:
scoreTable = pd.read_csv(nameList)
scoreTable

,kName,eName,Grade,Gender,className,sTeacher,rTeacher,wTeacher,ps,pw,pt,fs,fw,ft
0,이소연,Irene,G3,Female,Pinetree,David,Jorge,Kevin,32,48,80,37,41,78
1,서혜린,Chole,G5,Female,Pinetree,David,Jorge,Kevin,18,48,66,25,43,68

### 5. 반 별 폴더 생성

In [12]:
os.makedirs(folderName)
for i, n in enumerate(scoreTable.className.unique()):
    os.makedirs(f"{folderName}/{n}")

### 6. 데이터에 맞게 워드파일 생성 후 반 별 폴더로 이동

In [13]:
for i in range(len(scoreTable)):
    document = MailMerge(template)
    document.merge(
        kName = scoreTable.iloc[i][0],
        eName = scoreTable.iloc[i][1],
        Grade = scoreTable.iloc[i][2],
        Gender = scoreTable.iloc[i][3],
        className = scoreTable.iloc[i][4],
        sTeacher = str(scoreTable.iloc[i][5]),
        rTeacher = str(scoreTable.iloc[i][6]),
        wTeacher = str(scoreTable.iloc[i][7]),
        ps = str(scoreTable.iloc[i][8]),
        pw = str(scoreTable.iloc[i][9]),
        pt = str(scoreTable.iloc[i][10]),
        fs = str(scoreTable.iloc[i][11]),
        fw = str(scoreTable.iloc[i][12]),
        ft = str(scoreTable.iloc[i][13])
    )
    file_name = f"{scoreTable.iloc[i][1]}({scoreTable.iloc[i][0]})-{scoreTable.iloc[i][4]}.docx"
    path_name = f"{folderName}/{scoreTable.iloc[i][4]}"
    document.write(file_name)
    shutil.move(file_name, path_name)