# 원어민 보고서 업무 자동화 코드

### 1. 패키지 설치

In [ ]:
pip install docx-mailmerge==0.5.0

### 2. 모듈 임포트

In [5]:
import os
import shutil
import pandas as pd
from mailmerge import MailMerge

In [ ]:
folderName = "reportCards_first2weeks"

### 3. 워드 템플릿 로드

In [2]:
template = "template.docx"
document = MailMerge(template)
print(document.get_merge_fields())

{'className', 'eName', 'ft', 'ms', 'pt', 'writing', 'mw', 'mt', 'fw', 'speaking', 'kName', 'ps', 'fs', 'reading', 'pw'}

### 4. 레벨 테스트 점수 엑셀 데이터 로드

In [3]:
report_list = pd.read_csv("report_list.csv")
report_list.columns = ["kName", "eName", "className", "speaking", "reading", "writing", "ps", "pw", "pt", "fs", "fw", "ft"]
report_list

   kName      eName    className    ps  pw    pt  ms  mw  mt  fs  fw  ft
0    오승준    Anthony      Rainbow  20.0  33  53.0  30  32  62 NaN NaN NaN
1    노준의    Michael      Rainbow  10.0  14  24.0  29  25  54 NaN NaN NaN
2    송경찬       Dave      Rainbow  12.0  22  34.0  34  46  80 NaN NaN NaN
3    박서준      Simon      Rainbow  12.0  24  36.0  34  53  87 NaN NaN NaN
4    전준형       John      Rainbow  18.0  19  37.0  31  46  77 NaN NaN NaN
5    서정우        Jay      Rainbow  22.0  29  51.0  31  49  80 NaN NaN NaN
6    송채이       Lucy      Rainbow  21.0  13  34.0  34  45  79 NaN NaN NaN
7    정하윤       Yuna      Rainbow  29.0  22  51.0  34  32  66 NaN NaN NaN
8    정예림      Yerim      Rainbow   8.0   8  16.0  29  27  56 NaN NaN NaN
9    박소율  Christina      Rainbow  10.0  19  29.0  34  56  90 NaN NaN NaN
10   문아영       Lina      Rainbow   6.0  36  42.0  34  58  92 NaN NaN NaN
11   박성빈     Andrew  SuperJunior  10.0  50  60.0  22  48  70 NaN NaN NaN
12   이동혁     Daniel  SuperJunior   6.0  47  53.0  20  40  60 NaN NaN NaN
13   주수영       Ryan  SuperJunior  20.0  40  60.0  24  45  69 NaN NaN NaN
14   최민준       Ryan  SuperJunior  18.0  48  66.0  26  47  73 NaN NaN NaN
15   최서준      Kevin  SuperJunior  20.0  47  67.0  24  47  71 NaN NaN NaN
16   윤성현    Michael  SuperJunior  24.0  45  69.0  22  42  64 NaN NaN NaN
17   윤지형       Nick  SuperJunior   8.0  31  39.0  22  40  62 NaN NaN NaN
18   복성준   Seongjun  SuperJunior   4.0  44  48.0  20  45  65 NaN NaN NaN
19   권하윤        Joy  SuperJunior  18.0  44  62.0  20  46  66 NaN NaN NaN
20   정지민        Joy  SuperJunior  20.0  43  63.0  22  43  65 NaN NaN NaN
21   우연서       Lily  SuperJunior  22.0  43  65.0  24  36  60 NaN NaN NaN
22   기여은      Julia  SuperJunior  33.0  35  68.0  24  50  74 NaN NaN NaN
23   조민준       Ryan     Calendar  28.0  44  72.0  37  51  88 NaN NaN NaN
24   박정현     Daniel     Calendar  22.0  48  70.0  34  51  85 NaN NaN NaN
25    허율      David     Calendar  18.0  52  70.0  28  50  78 NaN NaN NaN
26   이시우      Grant     Calendar  20.0  51  71.0  34  59  93 NaN NaN NaN
27   박정우     Joseph     Calendar  18.0  44  62.0  24  58  82 NaN NaN NaN
28   김세훈       Eric     Calendar  22.0  40  62.0  32  52  84 NaN NaN NaN
29   김민서       Jack     Calendar  22.0  43  65.0  34  44  78 NaN NaN NaN
30   이동건      Kevin     Calendar  12.0  53  65.0  22  56  78 NaN NaN NaN
31   황정빈       Joel     Calendar  25.0  41  66.0  34  49  83 NaN NaN NaN
32   이채연       Anna     Calendar  18.0  52  70.0  36  47  83 NaN NaN NaN
33   임유나       Yuna     Calendar  24.0  48  72.0  24  50  74 NaN NaN NaN
34   이소원    Abigail     Calendar  19.0  48  67.0  26  50  76 NaN NaN NaN
35   정태민        Leo       Dublin  34.0  51  85.0  32  43  75 NaN NaN NaN
36   안지율      Jason       Dublin  24.0  52  76.0  34  44  78 NaN NaN NaN
37   고건우       Eric       Dublin  22.0  56  78.0  32  39  71 NaN NaN NaN
38   정호연     Hoyeon       Dublin  40.0  55  95.0  38  53  91 NaN NaN NaN
39   이승현       Aron       Dublin  26.0  50  76.0  34  47  81 NaN NaN NaN
40   박시윤      Alvin       Dublin  25.0  52  77.0  36  46  82 NaN NaN NaN
41   윤정현        Via       Dublin  26.5  51  77.5  37  49  86 NaN NaN NaN
42   조원준      Logan       Dublin  26.0  55  81.0  39  59  98 NaN NaN NaN
43   우이정       Lily       Dublin  24.0  49  73.0  39  43  82 NaN NaN NaN
44   강나현        Amy       Dublin  24.0  59  83.0  38  57  95 NaN NaN NaN
45   김고은       Judy       Dublin  32.0  54  86.0  40  58  98 NaN NaN NaN
46   김하얀      Alice       Dublin  24.0  57  81.0  38  49  87 NaN NaN NaN
47   황선겸       Eric   Washington  25.0  50  75.0  34  44  78 NaN NaN NaN
48   이정민      Jaden   Washington  30.0  52  82.0  24  56  80 NaN NaN NaN
49    버바       Vova   Washington  30.0  58  88.0  32  56  88 NaN NaN NaN
50   김연준       Paul   Washington  16.0  53  69.0  19  38  57 NaN NaN NaN
51   이서진      Chloe   Washington  24.0  45  69.0  24  42  66 NaN NaN NaN
52   김교린      Irene   Washington  28.0  47  75.0  18  48  66 NaN NaN NaN
53   백세인       Sein   Washington  30.0  49  79.0  35  48  83 NaN NaN NaN
54   이루리      Chloe   Washington  22.0  40  62.0  28  40  68 NaN NaN NaN
55   이은유       Emma   Washington  19.0  56  75.0  20  52  72 NaN NaN NaN
56   김민서     Lauren   Washington  33.0  50  83.0  36  50  86 NaN NaN NaN
57   이지원      Jiwon   Washington  24.0  50  74.0  32  52  84 NaN NaN NaN

### 5. 반 별 폴더 생성

In [4]:
os.makedirs(folderName)
for i, n in enumerate(report_list.className.unique()):
    os.makedirs(f"{folderName}/{n}")

### 6. 데이터에 맞게 워드파일 생성 후 반 별 폴더로 이동

In [5]:
for i in range(len(report_list)):
    document = MailMerge(template)
    document.merge(
        kName = report_list.iloc[i][0],
        eName = report_list.iloc[i][1],
        className = report_list.iloc[i][2],
        ps = str(report_list.iloc[i][3]),
        pw = str(report_list.iloc[i][4]),
        pt = str(report_list.iloc[i][5]),
        ms = str(report_list.iloc[i][6]),
        mw = str(report_list.iloc[i][7]),
        mt = str(report_list.iloc[i][8]),
        fs = str(report_list.iloc[i][9]),
        fw = str(report_list.iloc[i][10]),
        ft = str(report_list.iloc[i][11])
    )
    file_name = f"{report_list.iloc[i][1]}({report_list.iloc[i][0]})-({report_list.iloc[i][2]}).docx"
    path_name = f"Report Cards/{report_list.iloc[i][2]}"
    document.write(file_name)
    shutil.move(file_name, path_name)