# 원어민 보고서 업무 자동화 코드

### 1. 패키지 설치

In [ ]:
pip install docx-mailmerge==0.5.0

### 2. 모듈 임포트

In [5]:
import os
import shutil
import pandas as pd
from mailmerge import MailMerge

In [2]:
folderName = "reportCards_first2weeks"
template = "template_gangwon_first2weeks.docx"
report_list = "report_list_gangwon_first2weeks.csv"

### 3. 워드 템플릿 로드

In [3]:
document = MailMerge(template)
print(document.get_merge_fields())

{'writing', 'reading', 'speaking', 'pw', 'pt', 'className', 'fs', 'fw', 'kName', 'eName', 'ps', 'ft'}

### 4. 레벨 테스트 점수 엑셀 데이터 로드

In [4]:
report_list = pd.read_csv("report_list_gangwon_first2weeks.csv")
report_list.columns = ["kName", "eName", "className", "speaking", "reading", "writing", "ps", "pw", "pt", "fs", "fw", "ft"]
report_list

  kName  eName className speaking reading writing  ps  pw  pt  fs  fw  ft
0   이소연  Irene  Pinetree    David   Jorge   Kevin  32  48  80  37  41  78
1   서혜린  Chole  Pinetree    David   Jorge   Kevin  18  48  66  25  43  68

### 5. 반 별 폴더 생성

In [5]:
os.makedirs(folderName)
for i, n in enumerate(report_list.className.unique()):
    os.makedirs(f"{folderName}/{n}")

### 6. 데이터에 맞게 워드파일 생성 후 반 별 폴더로 이동

In [9]:
report_list.iloc[0][1]

'Irene'

In [6]:
for i in range(len(report_list)):
    document = MailMerge(template)
    document.merge(
        kName = report_list.iloc[i][0],
        eName = report_list.iloc[i][1],
        className = report_list.iloc[i][2],
        speaking = str(report_list.iloc[i][3]),
        reading = str(report_list.iloc[i][4]),
        writing = str(report_list.iloc[i][5]),
        ps = str(report_list.iloc[i][6]),
        pw = str(report_list.iloc[i][7]),
        pt = str(report_list.iloc[i][8]),
        fs = str(report_list.iloc[i][9]),
        fw = str(report_list.iloc[i][10]),
        ft = str(report_list.iloc[i][11])
    )
    file_name = f"{report_list.iloc[i][1]}({report_list.iloc[i][0]})-({report_list.iloc[i][2]}).docx"
    path_name = f"{folderName}/{report_list.iloc[i][2]}"
    document.write(file_name)
    shutil.move(file_name, path_name)

In [ ]:
for i in range(len(report_list)):
    document = MailMerge(template)
    document.merge(
        kName = report_list.iloc[i][0],
        eName = report_list.iloc[i][1],
        className = report_list.iloc[i][2],
        ps = str(report_list.iloc[i][3]),
        pw = str(report_list.iloc[i][4]),
        pt = str(report_list.iloc[i][5]),
        ms = str(report_list.iloc[i][6]),
        mw = str(report_list.iloc[i][7]),
        mt = str(report_list.iloc[i][8]),
        fs = str(report_list.iloc[i][9]),
        fw = str(report_list.iloc[i][10]),
        ft = str(report_list.iloc[i][11])
    )
    file_name = f"{report_list.iloc[i][1]}({report_list.iloc[i][0]})-({report_list.iloc[i][2]}).docx"
    path_name = f"Report Cards/{report_list.iloc[i][2]}"
    document.write(file_name)
    shutil.move(file_name, path_name)